<h1>My Attendance List</h1>
<hr>

<div class="row">
  <div class="col-md-8">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Seminar Name</th>
          <th>Group</th>
          <th>Seminar Date</th>
          <th>Attendance Date</th>
          <th>Professor</th>
        </tr>
      </thead>

      <tbody>
        <% @user.attendances.each do |attendance| %>
          <tr>
            <td>
              <%= link_to attendance.seminar.name, attendance.seminar %>
            </td>
            <td><%= attendance.seminar.group.name %></td>
            <td><%= attendance.seminar.date %></td>
            <td><%= attendance.updated_at %></td>
            <td><%= attendance.responsibility.user.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-4", style="text-align: center">
    <div style="font-size: 80px">
      <%= @attendences_in_semester%>
    </div>
    <small>Attendances completed in this semester.</small>
  </div>
</div>
