<h1>My Student List</h1>

<%= form_tag(myarea_studentlist_path, :method => "get", id: "search-form") do %>
   <div class="input-group">
    <%= text_field_tag :search, params[:search], class: "form-control" %>
    <span class="input-group-btn">
        <%= submit_tag "Search", :name => nil, class: "btn btn-default" %>
    </span>
  </div>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>nusp</th>
      <th>email</th>
      <th>Attendances</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.nusp %></td>
        <td><%= student.email %></td>
        <td><%= student.attendedSeminars.length %></td>
      </tr>
    <% end %>
  </tbody>
</table>
