<%= form_with(model: seminar, local: true) do |form| %>
  <% if seminar.errors.any? %>
    <div>
      <% seminar.errors.full_messages.each do |message| %>
        <p class="alert alert-danger"><%= message %></p>
      <% end %>
    </div>
  <% end %>

    <div class="field form-group">
        <%= label_tag("seminar[name]", "Name") %>
        <%= text_field_tag("seminar[name]", @seminar.name, class: "form-control") %>
    </div>

    <div class="field form-group">
        <%= label_tag("seminar[group_id]", "Group") %>
        <%= collection_select :seminar, :group_id, Group.all, :id, :name, {}, class: "form-control" %>
    </div>

    <div class="field form-group">
        <%= label_tag("seminar[description]", "Description") %>
        <%= text_area_tag("seminar[description]", @seminar.description, class: "form-control",  rows: 10)    %>
    </div>

    <div class="field form-group">
        <%= label_tag("seminar[place]", "Place") %>
        <%= text_field_tag("seminar[place]", @seminar.place, class: "form-control") %>
    </div>

    <div class="field form-group">
        <%= label_tag("seminar[date]", "Date") %>
        <div class='input-group date' id='datetimepicker1'>
            <%= text_field_tag("seminar[date]", @seminar.date, class: "form-control") %>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-8">
            <%= form.submit 'Save', class: "btn btn-default btn-block" %>
        </div>
    </div>
<% end %>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({ format: 'YYYY-MM-DD HH:mm' });
    });
</script>
