<h1>Editing Seminar</h1>

<%= render 'form', seminar: @seminar %>

<hr>
<%= form_tag("/responsibilities", method: "post") do %>
    <%= label_tag("user_id", "Professor NUSP") %><br>
    <%= hidden_field_tag("seminar_id", @seminar.id) %>
    <div class='input-group' id='datetimepicker1'>
        <%= collection_select nil, :user_id, User.all.where(usertype: User.professor), :id, :name, {:include_blank => ""}, class: "form-control" %>
        <span class="input-group-btn">
            <%= submit_tag("Add Professor", class: "btn btn-default") %>
        </span>
    </div>

<% end %>

<br>
<%= render 'resposible_professors', seminar: @seminar %>
