
<h2> <%= @seminar.name %></h2>
<hr>

<div class="row">
    <div class="col-md-8">
        <div class="jumbotron">
            <%= @seminar.description %>
        </div>
        <table class="table">
            <tr>
                <td><strong>Group:</strong></td>
                <td><%= @seminar.group.name %></td>
            </tr>
            <tr>
                <td><strong>Place:</strong></td>
                <td><%= @seminar.place %></td>
            </tr>
            <tr>
                <td><strong>Date:</strong></td>
                <td><%= @seminar.date %></td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <div style="text-align: center">
            <div style="font-size: 80px">
              <%= @interest_count %>
            </div>
            <small>Number of interested people.</small>
        </div>
        <br>
        <% if current_user && current_user.responsibilities.exists?(seminar_id: @seminar.id) %>
            <div class="btn-group-vertical btn-block">

                <%= link_to 'Confirm Attendances', attendances_new_path(seminar_id: @seminar.id), class: "btn btn-success"%>
                <%= link_to 'Edit', edit_seminar_path(@seminar), class: "btn btn-info" %>
                <%= link_to 'Destroy', @seminar, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
            </div>
        <% end %>
    </div>
</div>

<% if user_signed_in? && current_user.student? %>
    <% if @interest %>
        <%= form_tag("/interests", method: :delete) do %>
            <%= hidden_field_tag("interest_id", @interest.id) %>
            <%= submit_tag "Unsubscribe", class: "btn btn-default" %>
        <% end %>
    <% else %>
        <%= form_tag("/interests", method: :post) do %>
            <%= hidden_field_tag("seminar_id", @seminar.id) %>
            <%= submit_tag "Subscribe", class: "btn btn-info" %>
        <% end %>
    <% end %>
<% end %>

<hr>
<h4> Responsible Professors </h4>
<%= render 'resposible_professors', seminar: @seminar %>

<% if user_signed_in? && current_user.professor? && @seminar.attendances.length > 0 %>
    <hr>
    <h4> Attended Students </h4>
    <table class="table table-bordered table-striped">
        <thead>
            <th>NUSP</th>
            <th>Name</th>
            <th>Validated by</th>
        </thead>
        <tbody>
            <% @seminar.attendances.each do |attendance| %>
                <% if !attendance.user.nil? %>
                    <tr>
                        <td><%= attendance.user.nusp %></td>
                        <td><%= attendance.user.name %></td>
                        <td><%= attendance.responsibility.user.name %></td>
                    </tr>
                <% end %>
            <% end %>
        </tbody>
    </table>
<% end %>
